.register__page{
    width: 100%;
    min-height: 100vh;
    padding:86px;
    display: flex;
    flex-direction: column;
    gap:32px;
}

.coupon__container{
    width: 331px;
    height: 43px;
    border:1px solid white;
    border-radius: 4px;
    margin-bottom: 16px;
}

input::placeholder{
    color:#555555;
    margin-left: 8px;
}



input{
    border:none;
    outline:none;
    background-color: #0e0e0e;
    border-radius: 4px;

}

.pay__button{
    width:100px;
    height: 100%;
    border: none;
    outline: none;
    background-color: #EB0028;
    color:white;
    border-radius: 4px;
    font-weight: 500;
    padding:8px;
    margin-top: 16px;

}

@media (max-width: 876px) {
   .register__page{
    padding-left: 32px;
   }
}
